/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .logout-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    text-decoration: underline;
  }
  