/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  /* Center the login button */
  .form-group:last-child {
    text-align: center;
  }
  

  .signup-link {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .signup-button {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .signup-button:hover {
    color: #0056b3;
  }